:root {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 8px 18px;
  font-size: 1.1em;
  background-color: #007bff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
